<form
  [formGroup]="formData"
  (submit)="onSubmitHandler()"
  class="form_container"
>
  <p class="alert_Massage" *ngIf="showError">* Email or Passward isn't valid</p>
  <h3>Login</h3>
  <label class="form_control">
    username
    <input type="text" name="username" formControlName="username" />
    <ng-container
      *ngIf="
        (formData.controls.username.touched ||
          formData.controls.username.dirty) &&
        formData.controls.username.errors
      "
    >
      <p
        class="alert_Massage"
        *ngIf="formData.controls.username.errors['required']"
      >
        * Required
      </p>
    </ng-container>
  </label>
  <label class="form_control">
    Passward
    <input type="password" name="password" formControlName="password" />

    <ng-container
      *ngIf="
        (formData.controls.password.touched ||
          formData.controls.password.dirty) &&
        formData.controls.password.errors
      "
    >
      <p
        class="alert_Massage"
        *ngIf="formData.controls.password.errors['required']"
      >
        * Required
      </p>
    </ng-container>
    <!--
    <ng-container
      *ngIf="
        (formData.controls.password.touched ||
          formData.controls.password.dirty) &&
        formData.controls.password.errors
      "
    >
      <p class="alert_Massage" [ngSwitch]="true">
        <ng-container
          *ngSwitchCase="!!formData.controls.password.errors['required']"
        >
          * Required
        </ng-container>
        <ng-container
          *ngSwitchCase="!!formData.controls.password.errors['minlength']"
        >
          * Min Length is 4
        </ng-container>
      </p>
    </ng-container> -->
  </label>
  <button type="submit">submit</button>
</form>
