@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

.hidden {
  display: none;
}

.alert_Massage {
  color: #f00;
}

.form_container_hidden {
  display: none;
}

.form_container {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 40%);
  background-color: #0d1520;
  color: #fff;
  padding: 2.5rem;
  border-radius: 10px;
  max-width: 30vw;
}

.form_control {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  margin-bottom: 0.5rem;
}

.form_control > input {
  background-color: transparent;
  color: #fff;
  border: none;
  outline: none;
  border-bottom: 1px solid #fff;
}

.welcome_page {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-100%, 100%);
  background-color: #0d1520;
  color: #fff;
  max-width: 35vw;
  padding: 4rem;
  border-radius: 15px;
  text-align: center;
  position: relative;
}

.welcome_page > button {
  position: absolute;
  margin: 1.5rem;
  top: 2px;
  right: 2px;
}

button {
  margin-top: 2rem;
  height: 1.5rem;
  width: 5rem;
  border-radius: 5px;
  background-color: #40005d;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}
